.container {
  display: grid;
  position: relative;
  grid-template-columns: 1.21fr 3.95fr 1fr 2fr ;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "box1 b2 box3 box4"
    "box1 b5 box3 box6"
}


.box1 {
  background-color: black;
  grid-area: box1;
}

.box2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      background-color: black;
      grid-area: b2;
   }

.box3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
     grid-area: box3;
   }

.box4 {
  position:relative;
  align-items: center;
  justify-content: space-around;
  height: 100%;
    background-color: #FF029C;
     grid-area: box4;
   }

.box5 {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  max-width:100%;
    background-color: black;
     grid-area: b5;
   }

.box6 {
  background-color: black;
   grid-area: box6;
 }
 .container2 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box7 box7 box7 box7 box8 box8"
    "box9 box10 box10 box10 box8 box8"
    "box9 box10 box10 box10 box8 box8";
}

.box7 {
  grid-area: box7;
  background-color: black;
}

.box8 {
  display: inline-block;
  position:relative;
  align-items: center;
  justify-content: space-around;
  max-width:100%;
    background-color: black;
  grid-area: box8;
}

.box9 {
  display: relative;
  align-items: center;
  justify-content: space-around;
  max-width:100%;
  grid-area: box9;
  background-color: black;
}

.box10 {
  display: relative;
  align-items: center;
  justify-content: space-around;
  max-width:100%;
   grid-area: box10;
   background: url('../images/Group 208.svg');
   background-color: black;

 }
 .container3 {
   display: grid;
   position: relative;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
     "box11 box11 box11 box12 box12 box12"
     "box11 box11 box11 box12 box12 box12"
     "box11 box11 box11 box12 box12 box12";
 }


 .box11 {
   position:relative;
   align-items: center;
   justify-content: space-around;
   width:100%;
    grid-area: box11;
  }
  .box12 {
    position:relative;
    align-items: center;
    justify-content: space-around;
    max-width:100%;
     grid-area: box12;
   }
  .container4 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;

    grid-template-areas:
      "box13 box13 box13 box14 box14"
      "box13 box13 box13 box14 box14";
  }

  .box13  {
    position:relative;
    align-items: center;
    justify-content: space-around;
    max-width:100%;
     grid-area: box13;
     background: url('../images/Group 208.svg');
     background-color: black;
  }

  .box14 {
    width:100%;
    position:relative;
    align-items: center;
     grid-area: box14;
     background-color: black;
   }
   .container5 {
     display: grid;
     position: relative;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     grid-template-rows: 1fr  1fr ;
     grid-template-areas:
       "box15 box15 box15 box16 box16"
       "box15 box15 box15 box16 box16";
   }

   .box15 {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     grid-area: box15;
     background-color: black;
   }

   .box16 {
      display: flex;
     position:relative;
     align-items: center;
     justify-content: space-around;
     max-width:100%;
     background: url('../images/Монтажная область 21 1.svg');
     grid-area: box16;
   }
   .container6 {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr
     grid-auto-flow: row;
     grid-template-areas:
       ".";
   }
   .im1{
     width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      object-fit: cover;
   }
   .im2{
     width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
   }
   .im3{
     width: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
        object-fit: cover;
   }
   .im4{
     width: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
        object-fit: cover;
   }
   .eyes3{
     width: 100%;
      position: relative;
      display: flex;
      vertical-align: center;
      object-fit: cover;
   }

   .im6{
     width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      object-fit: cover;
   }
   .im7{
     width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      object-fit: fill;
   }
   .im8{
     width: 50vw;
      height: 100%;
      position: relative;
      display: inline-block;
      object-fit: cover;
   }
   .im9{
     width: 100%;
     height: 100%;
      position: relative;
      display: inline-block;
      object-fit: fill;
   }
   .im10{
     display: flex;
     width: 100%;
      height: 100%;
      position: relative;
      align-items: center;
      object-fit: fill;
   }
   .im11{
     display: flex;
     width: 100%;
      height: 100%;
      position: relative;
      align-items: center;
      object-fit: fill;
   }
   .im12{
     display: flex;
     width: 100%;
      height: 100%;
      position: relative;
      align-items: center;
      object-fit: cover;
   }
   .im13{
     width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: center;
   }
   .im14{
     width: 100%;
      position: relative;
      display: inline-block;
      align-items: center;
        object-fit: cover;
   }
     .im15{
       width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
     }
     .im17{
       width: 100%;
        height: 100%;
        position: fixed;
        display: inline-block;
        vertical-align: top;

     }
       .im16{
         width: 100%;
          position: relative;
          display: inline-block;
          align-items: center;
            object-fit: cover;
        }
        .text{
            width: 100%;
            background: #FF029C;
            padding: 20px;
            -webkit-box-sizing: border-box;
           }
        }
        .line1{

        }
