 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.h1{
  font-size: 144px;
}
.box2{
  height: 64.9vw;
}
.container2 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box2 box2"
    "box7 box7"
    "box10 box8";
}

.box2 {
   height: 85.026vw;
  grid-area: box2; }

.box7 {
height: 85.026vw;
   grid-area: box7; }

.box10 {
height: 85.026vw;
   grid-area: box10; }

.box8 {
height: 85.026vw;
  grid-area: box8; }
