@import "reset.css";
@import "content.css";
@import "responsive.css";
@font-face {
  font-family: "PomidorRegular";
  src: url("../fonts/PomidorRegular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
h1{
  font-family:PomidorRegular;
}
